/* Container principal */
.container {
  max-width: 600px;
  margin: auto;
  padding: 30px 20px;
  background-color: #004c4c;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

/* Título */
h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 10px;
}

.form-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #38a1db;
  border-radius: 5px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  outline: none;
  border-color: #70d6ff;
}

.form-button {
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #38a1db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #70d6ff;
}


/* Cartões */
.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #38a1db;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

.cards p {
  margin: 0;
  font-size: 1rem;
  flex: 1;
}

.cards button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
  font-size: 1.2rem;
  color: white;
  margin-left: 10px;
}

.cards button:hover {
  transform: scale(1.1);
}
