/* Estilo global */
/* Fundo do corpo */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #083759, #38a1db);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Links globais */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset de margens */
h1, p {
  margin: 0;
}
